// @mixin position()
// Mixin for easy positioning
// All variables are optional

@mixin position($position: relative, $top: auto, $right: auto, $bottom: auto, $left: auto, $z-index: unset) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  z-index: $z-index;
}