<article class="game-item d-flex" style="background-image: url('{{game.image}}');">
    <a href="{{ game.url }}" title="{{ game.title }} - Read the review" class="d-flex align-items-center align-items-lg-end">
        <span class="game-item__content">
            <strong class="game-item__title h3">
                <span class="reveal__holder" data-aos="reveal--item">
                    <span class="reveal__block right" data-aos="reveal--right"></span>
                    {{ game.title }}
                </span>
            </strong>
            {% if game.revisited == true %}
                <span class="game-item__badge badge badge-primary">Revisited</span>
            {% endif %}
            <p class="game-item__summary">{{ game.summary }}</p>
        </span>
    </a>
</article>