body {
    background: $black;
    color: $white;
    padding: 60px 0 0;
    max-width: 1400px;
    margin: 0 auto;

    @include media-breakpoint-up(md) {
        padding: 85px 0 0;
    }
}

.body {
    &--no-padding {
        padding: 0;
    }
}