<header class="page-header">
    <div class="container">
        <a class="page-header__logo float-left" href="/">
            <img class="page-header__logo-img" src="/assets/images/logo.png" alt="{{ site.title }}" title="{{ site.title }}"/>
        </a>

        <div class="page-header__nav-holder">
            {%- include navigation.html -%}
        </div>

        <button class="page-header__nav-toggle float-right d-block d-md-none">
            <span class="page-header__nav-toggle-bars"></span>
        </button>
    </div>
</header>