/***
* Pre-defined font mixins
***/

@mixin font-primary {
    font-family: 'Montserrat', sans-serif;
}

@mixin font-secondary {
    font-family: 'Roboto Slab', serif;
    text-transform: none;
}

/***
* Pre-defined typography
***/

html, body {
    @include font-secondary();
    font-size: 16px;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    @include font-primary();
    display: block;
    margin: 0 0 30px;
}

h1, .h1 {
    text-transform: uppercase;
    font-size: 48px;

    @include media-breakpoint-up(md) {
        font-size: 72px;
    }
}

h2, .h2 {
    text-transform: uppercase;
    font-size: 24px;

    @include media-breakpoint-up(md) {
        font-size: 36px;
    }
}

h3, .h3 {
    text-transform: uppercase;
    font-size: 16px;

    @include media-breakpoint-up(md) {
        font-size: 24px;
    }
}

h4, .h4 {

}

h5, .h5 {
    
}

h6, .h6 {

}