.game-item {
    background-color: #444444;
    background-size: cover;
    background-position: center;
    position: relative;
    margin: 3px -15px 0;
    flex: 1;
    min-height: 20vh;

    @include media-breakpoint-up(sm) {
        margin: 0 0 30px;
    }

    @include media-breakpoint-up(lg) {
        min-height: 30vh;
    }

    &::before {
        content: "";
        @include position(absolute, 0, 0, 0, 0);
        background: $black;
        opacity: 0.3;
    }

    &:hover {
        .game-item {
            &__summary {
                &::before {
                    width: 100%;
                    transition: $transition;
                }
            }
        }
    }
    
    &__wrapper {
        color: $white !important;
        display: block;
        position: relative;
        z-index: 2;
        padding: 30px 15px;
        flex: 1;
        text-decoration: none;

        @include media-breakpoint-up(lg) {
            padding: 60px;
        }
    }

    &__content {
        display: block;
    }

    &__title {
        margin: 0;
    }

    &__badge {
        margin: 0 0 5px;
    }

    &__summary {
        position: relative;
        margin: 0;
        clear: both;
        padding: 0 0 15px;
        float: left;

        &::before {
            content: "";
            display: block;
            height: 2px;
            width: 30px;
            position: absolute;
            bottom: 6px;
            left: 0;
            background: $accent;
            transition: $transition;
        }
    }
}