.game-item {
    background-color: #444444;
    background-size: cover;
    background-position: center;
    position: relative;
    margin: 3px 0 0;
    flex: 1;
    min-height: 140px;

    @include media-breakpoint-up(lg) {
        min-height: 200px;
        margin: 0;
    }

    &::before {
        content: "";
        @include position(absolute, 0, 0, 0, 0);
        background-image: linear-gradient(180deg, rgba(0,0,0,0.25) 1%, rgba(0,0,0,0.75) 100%);
    }

    &:hover {
        .game-item {
            &__title {
                &::before {
                    width: 100%;
                    transition: $transition;
                }
            }
        }
    }
    
    a {
        color: $white;
        display: block;
        position: relative;
        z-index: 2;
        padding: 30px 15px;
        flex: 1;
        text-decoration: none;

        @include media-breakpoint-up(lg) {
            padding: 30px;
        }
    }

    &__content {
        display: block;
    }

    &__title {
        position: relative;
        padding: 0 0 15px;
        margin: 0;
        float: left;

        &::before {
            content: "";
            display: block;
            height: 2px;
            width: 30px;
            position: absolute;
            bottom: 6px;
            left: 0;
            background: $accent;
            transition: $transition;
        }
    }

    &__revisited {
        color: $accent;
    }

    &__summary {
        margin: 0;
        clear: both;
    }
}