.nav {
    background: $black;
    overflow: hidden;
    transition: $transition;
    padding: 60px 0;
    @include position(fixed, -100%, 0, 100%, 0, 8);

    @include media-breakpoint-up(md) {
        padding: 20px 0;
        @include position(relative, auto, auto, auto, auto);
    }

    body.nav--visible & {
        top: 0;
        bottom: 0;
        transition: $transition;
    }

    &__list {
        margin: 0;

        @include media-breakpoint-up(md) {
            float: left;
        }

        &--social {
            text-align: center;

            li {
                display: inline-block;
            }
        }
    }

    &__List-item {
        @include media-breakpoint-up(md) {
            float: left;
        }
    }

    &__item {
        @include font-primary;
        text-transform: uppercase;
        color: $white;
        display: block;
        text-align: center;
        padding: 10px 15px;

        &--social {
            padding: 10px;
        }
    }
}