.nav {
    @include position(fixed, -100%, 0, 100%, 0, 8);
    background: $black;
    overflow: hidden;
    transition: $transition;
    padding: 60px 0;

    body.nav--visible & {
        top: 0;
        bottom: 0;
        transition: $transition;
    }

    &__list {
        margin: 0;

        &--social {
            text-align: center;

            li {
                display: inline-block;
            }
        }
    }

    &__item {
        @include font-primary;
        text-transform: uppercase;
        color: $white;
        display: block;
        text-align: center;
        padding: 10px 0;

        &--social {
            padding: 10px;
        }
    }
}