<header class="game-hero">
    <div class="container">
        <div class="game-hero__wrapper d-flex flex-row align-items-end align-items-md-center" style="background-image: url('{{ page.image }}')">
            <div class="game-hero__content flex-fill">
                <strong class="h1 game-hero__title">
                    <span class="reveal__holder" data-aos="reveal--item">
                        <span class="reveal__block right" data-aos="reveal--right"></span>
                        {{ page.title }}
                    </span>
                </strong>
                <p class="game-hero__summary">
                    <span class="reveal__holder" data-aos="reveal--item">
                        <span class="reveal__block right" data-aos="reveal--right"></span>
                        {{ page.summary }}
                    </span>
                </p>
            </div>
        </div>
    </div>
</header>