---
layout: default
---

{%- assign hero = page -%}
{%- include partials/hero/game.html -%}

{%- for section in page.sections -%}
  <div class="container">
    {%- include partials/game-page/section.html -%}
  </div>
{%- endfor -%}

<div class="container">
  <div class="recent-games">
    <h2 class="d-none d-sm-block">Other reviews</h2>
    <div class="row">
      {%- if page.previous.url -%}
        <div class="col{% if page.next.url %}-lg-6{% endif %} d-flex">
          {%- assign game = page.previous -%}
          {%- include partials/game/item.html -%}
        </div>
      {%- endif -%}
      {%- if page.next.url -%}
        <div class="col{% if page.prev.url %}-lg-6{% endif %} d-flex">
          {%- assign game = page.next -%}
          {%- include partials/game/item.html -%}
        </div>
      {%- endif -%}
    </div>
  </div>
</div>