---
layout: default
---

<!-- Hero Game -->
{% assign hero = site.posts.first %}
{%- include games/hero.html -%}

<!-- Recent Games -->
<div class="container">
  <div class="recent-games">
    <div class="row">
      {% for game in site.posts offset:1 limit:2 %}
        <div class="col-lg-6 d-flex">
          {%- include games/game.html -%}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<!-- Top Games -->
{% assign topgames = site.posts | where_exp: "game", "game.top != nil" | sort: "top" %}
{% if (topgames | size < 0) %}
  <div class="container">
    <div class="top-games">
      <h2 class="top-games__title">Top 10</h2>
      <div class="top-games__list-wrapper">
        <div class="top-games__list">
          {% for game in topgames %}
            {%- include games/top-game.html -%}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endif %}